  <style>
  	/* ///////////////////건드리지 말것/////////////////// */
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 800px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      width: 150px;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    .pBtn, .mBtn, .dBtn{
    width: 45px;
    font-size: 5px;
    }
    /* ///////////////////건드리지 말것/////////////////// */
    
    /* 전체 body 설정 */
    .totalBody{
  	height: 700px;
  	width: 1300px;
  	margin: 100px auto;
  	}
	.admin_tbody{
	margin-top: 50px;
	background-color: 1px solid #101010;
	}
    /*  */
    .admin_hbody{
	border: 1px solid #00d344;
	height: 150px;
	width: 1000px;
	margin-top : 100px;
	margin: auto;
	text-align: center;
	border-radius: 2px;
    background-color: #101010;
	}
    /* 메인 글자색 */
	.admin_hbody h1{
	color: white;
	}
	/* 아이콘 감싸는 body */
	.admin_mbody{
	border: 1px solid #00d344;
	height: 250px;
	width: 1000px;
	margin: auto;
	}
	/* 아이콘 메뉴 크기 및 정렬 */
	.admin_mbody li{
	width: 166px;
	height: 150px;	
	float: left;
	margin: 36px;
	text-align: center;
	border-right: 1px solid #efefef;
}
    /* 이미지 크기 조정 */
    .qmyimg a img{
	margin: 0 auto;
	display: block;
	width: 110px;
	}
  </style>