html, body{
	height: 100%;
}

.logo{
	float: left;
	margin-top: 15px;
}

#container{
	margin: 0;
	overflow: hidden;
	background-color: #f5f6f7;
}

.wrap{
	padding: 30px;
}

.calendar_wrap{
	padding: 50px;
	background: white;
	margin-top: 110px;
}
}