dt{
	font-weight: normal;
	padding-left: 11px;
	line-height: 22px;
}

.info_memlist_block{
	margin-top: 30px;
}

.dsc{
	margin-top: 10px;
}

.call_cont li{
    padding-left: 21px;
    line-height: 22px;
    text-indent: -11px;	
}

.aaa{
	margin-top: 10px;
}