dt{
	font-weight: normal;
	padding-left: 11px;
	line-height: 22px;
}

.call_cont strong{
	font-size: 15px;
}

.info_memlist_block{
	margin-top: 30px;
}

.dsc{
	margin-top: 10px;
}

li{
    padding-left: 21px;
    line-height: 22px;
    text-indent: -11px;	
}

.call_cont h3{
    border-bottom: 2px solid #999;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}