
#container{
    background-color: #f5f6f7;
}

.festi_wrap{
	overflow: hidden;
}

.festi_wrap2{
	border: 1px solid #757575;
	/* margin-top: 30px; */
	padding: 30px;
}

.festi_wrap2 strong{
	font-size: 22px;	
}

.festi_title{
	padding-bottom: 20px;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
}

.festi_title a{
	background-color: white;
    color: black;
    padding: 4px 15px;
    float: right;
    border: 1px solid #adadad;
    cursor: pointer;
    border-radius: 10px;
}

#delete{
	cursor: pointer;
}

.festi_title a:hover{
	background-color: #00d344;
	border: 1px solid white;
	color: white;
}

.festi_h4 h4{
	padding-bottom: 20px;
}

.festi_h4 img{
	width: 20px;
    float: left;
}

.festi_top, .festi_detail{
	padding: 30px;
	background-color: white;
	overflow: hidden;
	border: 1px solid #999;
}

.bx_title img{
	width: 24px;
	float: right;
	margin: 10px;
}

.detail_info_right{
	float: right;
    margin-top: 30px;
    padding-left: 30px;
    width: 240px;
    min-height: 382px;
    border-left: 1px solid #e1e1e1;
}

.btc_file{
	margin: 20px;
}

.btc_file input{
	margin-left: 10px;
}

.btc_file em{
	font-weight: bold;
}

.bx_title{
	font-size: 26px;
	padding-bottom: 30px;
	border-bottom: 2px solid #999;
}

.detail_info{
	margin-top: 30px;
	float: left;
	position: relative;
	width: 675px;
	min-height: 382px;
}

.bx_img{
	float: left;
}

.bx_img img{
	width: 314px;
	height: 382px;
}

.btc_info{
	float: left;
	padding: 10px 30px;
	width: 320px;
}

.btc_info dl{
	padding: 20px;
	border-bottom: 2px solid #999;
}

.bit{
	padding-bottom: 10px;
	font-size: 14px;
}

.bid{
	padding-bottom: 20px;
	font-size: 13px;
}

.reserve_button{
	margin-top: 20px;
	overflow: hidden;
	height: 55px;
	padding-top: 13px;
}

.reserve_button a{
	padding: 20px 63px;
	background-color: #00d344;
	color: white;
	font-size: 20px;
}

.ui-datepicker-trigger{
	width: 19px;
	margin-left: 5px;
}

.festi_select{
	width: 200px;
	height: 30px;
}

.festi_detail{
	overflow: hidden;
	margin-top: 50px;
	position: relative;
}

.hasDatepicker{
	width: 170px;
	height: 30px;
}

.doline_x{
	margin-top: 190px;
}

 .navbar-inverse{
	background-color: #00d344;
 }
 
.navbar-collapse{
	padding-left: 0px;
}

.navsection li a{
	padding: 17px 70px;
} 

.festi_menu button{
	width: 235.6px;
    height: 44px;
    margin-right: -4px;
}

.admin_button{
	margin-top: 20px;
}
.admin_button a{
	padding: 5px 37px;
	background-color: #00d344;
	color: white;
	margin-right: 5px;
}

.festi_menu li:first-child{
	margin:0 -9px;
}

.festi_menu li a:hover{color: white; background-color: #757575;}