#container{
    background-color: #f5f6f7;
}
/* body 칸 */
.call_quick{
	border: 1px solid #00d344;
	height: 400px;
	margin-bottom: 10px;
	border-radius: 2px;
    background-color: white;
}
i{
	font-family: "Noto Sans KR", sans-serif;
}
/* 마이 페이지 형태 */
.call_quick .title{
	width: 1000px;
	height: 200px;
	background: #00d344;
	text-align: center;
	padding-top: 53px;
	margin-left: 0px;
}
/* 마이 페이지 글자색 */
.call_quick h2{
	color: white;
}
/* 메인 body */
.call_quick ul{
	overflow: hidden;
	text-align: center;
	width: 1000px;
	margin: 16px 0 auto;
}
/* 메뉴 크기 및 정렬 */
.call_quick li{
	width: 166px;
	height: 150px;	
	float: left;
	text-align: center;
	border-right: 1px solid #efefef;
}
/* 이미지 크기 조정 */
.qmenu a img{
	margin: 0 auto;
	display: block;
	width: 110px;
}
