/* 1. readonly 배경색 */
/* 2. * 빨간색 */

.r{
	color: red;
	}
	
.td1{
	text-align: center;
	width: 130px;
	background: #f5f6f7;
	}
	
.pencil{
	width: 20px;
	margin-right: 10px;
	}
	
.write_title input{
	width: 95%;
	height: 30px;
	outline: none;
}

.write_writer input{
	width: 41%;
	height: 30px;
	outline: none;
}

#addFiles{
	width: 67px;
}

#filesDiv{
	margin-top: 10px;
}

input:focus{
	border: 2px solid #00d344;
}

.noticeWrite_btn{
	background-color: white;
    color: black;
    padding: 4px 15px;
    float: right;
    border: 1px solid #adadad;
    cursor: pointer;
    border-radius: 10px;
}

.noticeWrite_btn:hover{
	background-color: #00d344;
	border: 1px solid white;
	color: white;
}

.noticeUpdate_btn{
	background-color: white;
    color: black;
    padding: 4px 15px;
    float: right;
    border: 1px solid #adadad;
    cursor: pointer;
    border-radius: 10px;
}

.noticeUpdate_btn:hover{
	background-color: #00d344;
	border: 1px solid white;
	color: white;
}

input[type=checkbox] { display:none; }

input[type=checkbox] + label { 
	display: inline-block; 
	cursor: pointer; 
	line-height: 22px;  
	background: url('../images/checkbox/checkbox_off.png') left/15px no-repeat; 
	padding: 0 5px;
}

input[type=checkbox]:checked + label { 
	 background: url("../images/checkbox/checkbox_on.png") left/15px no-repeat;
 }
 
.update_title input{
	width: 95%;
	height: 30px;
	outline: none;
}

.update_writer input{
	width: 41%;
	height: 30px;
	outline: none;
}
