#container{
	background-color: #f5f6f7;
}

.user_wrap{
	background-color: white;
    padding: 30px 30px 50px;
    border: 1px solid #dedede;
}

.user_title{
	padding-bottom: 30px;
    border-bottom: 1px solid #999;
    margin-bottom: 30px;
    font-size: 25px;
    height: 50px;
}

.user_title img{
	width: 25px;
	margin-top: -5px;
}

.user_title strong{
	margin-left: 10px;
}

.user_box{
	border: 1px solid #00d344;
	padding: 25px;
	margin-bottom: 60px;
}

.user_box strong{
	color: #00d344;
/* 	float: left; */
	font-size: 15px;
}

.user_box li:first-child{
    padding-bottom: 15px;
}

.color_black{
	font-weight: bold;
}