<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommentsMapper">
	
	<insert id="setWrite" parameterType="CommentsDTO">
		<selectKey keyColumn="cnum" keyProperty="cnum" order="BEFORE" resultType="Integer">
			SELECT COM_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO COMMENTS(CNUM, NUM, WRITER, CONTENTS, REG_DATE, REF, STEP, DEPTH) 
		VALUES (#{cnum}, #{num}, #{writer}, #{contents}, sysdate, #{cnum}, 0, 0)
	</insert>
</mapper>