<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FestiMapper">

	<select id="getNum" resultType="Integer">
		select festi_seq.nextval from dual
	</select>

	<insert id="setWrite" parameterType="FestiDTO">
		INSERT INTO FESTI(NUM,
		TITLE, WRITER, CONTENTS, REG_DATE, HIT, CATEGORY, PRICE, TOTAL,
		STARTDATE, ENDDATE, LOCAL, TOP, AGE, REGION)
		VALUES(#{num},#{title},#{writer},#{contents},sysdate,0,#{category},#{price},#{total},#{startDate},#{endDate},#{local},#{top},
		#{age}, #{region})
	</insert>

	<resultMap type="FestiDTO" id="festiResult">
		<id column="num" property="num" />
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="contents" property="contents" />
		<result column="reg_date" property="reg_date" />
		<result column="hit" property="hit" />
		<result column="top" property="top" />
		<result column="category" property="category" />
		<result column="price" property="price" />
		<result column="total" property="total" />
		<result column="startDate" property="startDate" />
		<result column="endDate" property="endDate" />
		<result column="local" property="local" />
		<result column="age" property="age" />
		<result column="region" property="region" />
		<collection property="fileDTOs" javaType="List"
			ofType="FileDTO">
			<id column="fnum" property="fnum" />
			<result column="num" property="num" />
			<result column="fname" property="fname" />
			<result column="oname" property="oname" />
		</collection>
	</resultMap>

	<select id="getList" parameterType="PageMaker"
		resultMap="festiResult">
		SELECT * FROM
		(SELECT ROWNUM R, F.* FROM
		(SELECT NUM, TITLE, STARTDATE, ENDDATE, LOCAL, region
		FROM FESTI FULL JOIN FILES USING(NUM)
		WHERE CATEGORY = #{category}
		ORDER BY NUM DESC) F)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>

	<select id="getCount" resultType="Integer" parameterType="Integer">
		SELECT COUNT(NUM) FROM FESTI where category = #{category}
	</select>

	<select id="getSelect" resultMap="festiResult"
		parameterType="String">
		SELECT * FROM FESTI FULL JOIN FILES USING(NUM) WHERE NUM = #{num}
	</select>

	<select id="getTop" resultMap="festiResult">
		SELECT * FROM FESTI WHERE TOP =
		'1'
	</select>

	<update id="setUpdate" parameterType="FestiDTO">
		UPDATE FESTI SET TITLE =
		#{title}, CONTENTS = #{contents}, TOP = #{top}, CATEGORY =
		#{category}, PRICE = #{price},
		TOTAL = #{total}, STARTDATE = #{startDate}, ENDDATE = #{endDate}, LOCAL =
		#{local}, age = #{age}, region = #{region} WHERE NUM = #{num}
	</update>

	<delete id="setDelete" parameterType="String">
		DELETE FESTI WHERE NUM =
		#{num}
	</delete>
	<!-- 상혁 -->
	<select id="getAllList" parameterType="PageMaker" resultMap="festiResult">
		SELECT * FROM 
		(SELECT ROWNUM R, F.* FROM 
		(SELECT NUM, TITLE, STARTDATE, ENDDATE, LOCAL FROM FESTI WHERE
		<choose>
			<when test="kind = 1">
				TITLE
			</when>
			<when test="kind = 2">
				CONTENTS
			</when>
			<when test="kind = 3">
				LOCAL
			</when>
			<otherwise>
				TITLE
			</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'
		ORDER BY NUM DESC) F) 
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	<!-- 상혁시작 -->
	
	<!-- 2레벨 -->
	<!-- 내가 쓴 글 가져오기 -->
	<select id="getListMy" parameterType="PageMaker" resultType="FestiDTO">
		select * from festi where writer = 'zombe15'
	</select>
	<!-- 상혁 끝 -->
</mapper>