<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FileMapper">

	 <!-- 
	<insert id="setWrite" parameterType="java.util.List">
		<selectKey order="BEFORE" resultType="Integer" keyProperty="fnum">
			SELECT FILES_SEQ.NEXTVAL AS FNUM FROM DUAL
		</selectKey>
		INSERT ALL
		<foreach index="i" separator=" " item="item" collection="list">
			INTO FILES VALUES 
			(FILES_SEQ.NEXTVAL+#{i}, #{item.num}, #{item.fname},#{item.oname})
		</foreach>
		SELECT * FROM DUAL
	</insert>
	 -->
	
 	<insert id="setWrite" parameterType="FileDTO">
		INSERT INTO FILES(FNUM, NUM, FNAME, ONAME) VALUES(files_seq.nextval, #{num}, #{fname}, #{oname})
	</insert>

	
	<select id="getList" parameterType="String" resultType="FileDTO">
		SELECT * FROM FILES WHERE NUM=#{num}
	</select>
	
	<delete id="setDelete" parameterType="String">
		DELETE FILES WHERE FNUM=#{fnum}
	</delete>
	
	<delete id="setDeleteAll" parameterType="String">
		DELETE FILES WHERE NUM=#{num}
	</delete>
	
	<select id="getSelect" resultType="FileDTO" parameterType="Integer">
		SELECT * FROM FILES WHERE FNUM=#{fnum}
	</select>
		
</mapper>