<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
	
	
	<insert id="setWrite" parameterType="com.project.weekend.member.MemberDTO">
		insert into member values(#{id}, #{pw}, #{name}, #{nickname}, #{email}, #{age}, #{phone}, 1)
	</insert>

	<select id="getId" resultType="com.project.weekend.member.MemberDTO" parameterType="com.project.weekend.member.MemberDTO">
		select id from member where id=#{id} 
	</select>
	
	
</mapper>