<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
	
	
	
	
	<delete id="setDelete" parameterType="java.util.List">
		delete member where id=#{id}
	</delete>
	
	<insert id="setWrite" parameterType="com.project.weekend.member.MemberDTO">
		insert into member values(#{id}, #{pw}, #{name}, 0, #{email}, #{phone}, 1, #{nickname})
	</insert>

	<select id="getId" resultType="com.project.weekend.member.MemberDTO" parameterType="com.project.weekend.member.MemberDTO">
		select id from member where id=#{id} 
	</select>
	
	
	<resultMap type="com.project.weekend.member.MemberDTO" id="member">
		<id property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="name" column="name"/>
		<result property="nickname" column="nickname"/>
		<result property="email" column="email"/>
		<result property="age" column="age"/>
		<result property="phone" column="phone"/>
		<result property="grade" column="grade"/>	
	</resultMap>
</mapper>