<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	
	
	
<!-- 	<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.lang.Integer" alias="Integer"/>
		<typeAlias type="com.iu.board.BoardDTO" alias="BoardDTO"/>
		
		
		<typeAlias type="com.iu.board.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.iu.file.FileDTO" alias="FileDTO"/>
		<typeAlias type="com.iu.util.PageMaker" alias="PageMaker"/>
		<typeAlias type="com.iu.mall.product.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.iu.mall.product.ThumbNailVO" alias="ThumbNailVO"/>
		<typeAlias type="com.iu.mall.product.OptionsVO" alias="OptionsVO"/>
		<typeAlias type="com.iu.mall.cart.CartVO" alias="CartVO"/>
		<typeAlias type="com.iu.mall.cart.CartListVO" alias="CartListVO"/>
		<typeAlias type="com.iu.board.productQna.ProductQnaVO" alias="ProductQnaVO"/> -->
	</typeAliases>
</configuration>